/*
Author: Equipe CRD
Creation date: 23/06/2018
Observação: Algumas (muitas) regras das regras abaixo estão se referenciando à "index", 
isso porque antes esse arquivo e o arquivo de js original eram index.algumacoisa,
porém seus nomes foram trocados para inicio.algumacoisa, para não dar confusão. 
*/

@font-face {
	font-family: pixel font;
	src: url("../../resources/style/pixel_font7.ttf");
}

.carregaFonte {
	position: absolute;
	left: -1000px;
	visibility: hidden;
}

body {
	background: #ff6;
}

canvas {
	padding: 0;
	margin: auto;
	display: block;
}