/*
Author: Equipe CRD
Creation date: 23/06/2018
Observação: Algumas (muitas) regras das regras abaixo estão se referenciando à "index", 
isso porque antes esse arquivo e o arquivo de js original eram index.algumacoisa,
porém seus nomes foram trocados para inicio.algumacoisa, para não dar confusão. 
*/

@font-face {
	font-family: "pixel font";
	src: url("../../resources/style/pixel_font7.ttf");
}

a,a:visited{
	color: #000000;
	text-decoration: none;
	text-decoration-line: none;
}
.carregaFonte {
	position: absolute;
	left: -1000px;
	visibility: hidden;
}

body {
	font: normal 24px/1em "pixel font";
	background: #ff6;
}

canvas {
	padding: 0;
	margin: auto;
	display: block;
}
