/*
Author: Equipe CRD
Creation date: 23/06/2018
Observação: Algumas (muitas) regras das regras abaixo estão se referenciando à "index", 
isso porque antes esse arquivo e o arquivo de js original eram index.algumacoisa,
porém seus nomes foram trocados para inicio.algumacoisa, para não dar confusão. 
*/

@font-face {
	font-family: "pixel font";
	src: url("../pixel_font7.ttf");
}

*, *::after, *::before {
	font-family: "pixel font";
}

body {
	/*Desabilita scroll*/
	background: #000;
	position: fixed;
	overflow-y: scroll;
	width: 100%;
	overflow: hidden;
}


/*-----------------Remoção da margem da body-----------------*/

#bodyTaberna {
	margin: 0;
	position: relative;
	border-left: 3px solid black;
	border-right: 3px solid black;
	width: 99.55%;
	position: relative;
	bottom: 378px;
}


/*-----------------Taberna-----------------*/

#taberna {
	height: 100%;
}


/*-----------------Parede Superior-----------------*/

#paredeSuperior {
	border: 3px solid black;
	border-left: 0;
	border-right: 0;
	height: 130px;
	margin-top: 18px;
	background: url("../images/estatico/paredeTaverna.png");
}


/*Quarto*/

#divQuarto {
	height: 130px;
	width: 85.438px;
	margin-left: 170px;
	display: inline-block;
	z-index: 2;
}

#portaQuarto {
	height: 125px;
	padding: 5px 0;
	cursor: pointer;
	transition: 0.2s;
}


/*Ranking*/

#quadroRanking {
	display: inline-block;
	height: 91px;
	width: 360px;
	position: relative;
	top: -30px;
	left: 90px;
	background: url("../images/estatico/ranking.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#tabela {
	margin-top: -2px;
	height: 100%;
	width: 360px;
	font-size: 12px;
}

#rkgPosicao {
	width: 68px;
}

#rkgUsuario {
	width: 185px;
}

#rkgPontuacao {
	width: 99px;
}

.tdTabela {
	padding: 2px 0 0 0;
	text-align: center;
}

.tdTabela1 {
	padding: 3px 0 0 0;
	text-align: center;
}

.tdTabela2 {
	padding: 3px 0 0 0;
	text-align: center;
}

.tdTabela3 {
	padding: 3px 0 0 0;
	text-align: center;
}


/*Avisos*/

#quadroAvisos {
	display: inline-block;
	width: 125px;
	height: 150px;
	position: relative;
	left: 730px;
	bottom: 200px;
	z-index: 3;
}

#avisosImg {
	height: 100%;
	width: 100%;
}


/*Logo*/

#divLogo {
	display: inline-block;
	height: 100px;
	width: 100px;
	position: relative;
	left: 330px;
	bottom: 30px;
}

#logo {
	height: 100%;
	width: 100%;
}


/*Quarto Taberneiro*/

#divQuartoT {
	height: 130px;
	width: 85.438px;
	position: relative;
	margin-left: 1250px;
	bottom: 139px;
}

#portaQuartoT {
	height: 125px;
	padding: 5px 0;
}


/*-----------------Piso da Taberna-----------------*/

#pisoTaberna {
	height: 481px;
	background: url("../images/estatico/piso.png");
}

#imgBardo {
	height: 170px;
	position: relative;
	bottom: 750px;
	right: 30px;
}

#imgTaverneiro {
	height: 170px;
	position: relative;
	top: -100px;
	left: 62%;
}

#balcao {
	height: 420px;
	width: 500px;
	background-image: url("../images/estatico/balcao.png");
	background-repeat: no-repeat;
	position: relative;
	left: 868px;
	bottom: 290px;
	z-index: 0;
}

#imgMesa {
	position: relative;
	height: 230px;
	left: 300px;
	top: 100px;
}


/*Modais*/

#containerModaisTaverneiro, #containerModaisBardo, #containerModaisAlterar, #ranking, #avisos, #rankingPessoal {
	display: none;
}


/*-----------------Parede Inferior-----------------*/

#paredeInferior {
	border: 3px solid black;
	border-left: 0;
	border-right: 0;
	height: 130px;
	position: relative;
	bottom: 473px;
	background-color: #532700;
	position: relative;
	z-index: 0;
}


/*Porta Saída*/

#divSair {
	height: 130px;
	width: 85.438px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#portaSair {
	height: 125px;
	width: 85px;
	padding: 5px 0;
	cursor: pointer;
	transition: 0.2s;
}


/*-----------------Piso Externo-----------------*/

#pisoExterno {
	height: 18px;
}


/*-----------------Quartos-----------------*/

#paredeQuartos {
	width: 100%;
	height: 130px;
	display: inline-block;
	position: relative;
	bottom: -7.5px;
}

#paredeQuarto {
	width: 800px;
	height: 130px;
	border-top: 3px solid black;
	border-right: 3px solid black;
	display: inline-block;
	position: relative;
	background: url("../images/estatico/paredeQuarto.png");
}

#paredeQuartoT {
	width: 535px;
	height: 130px;
	border: 3px solid black;
	border-bottom: 0;
	display: inline-block;
	position: absolute;
	filter: brightness(50%);
	background: url("../images/estatico/paredeQuarto.png");
	margin-left: 18px;
}

#divisoria {
	height: 376px;
	width: 100%;
	left: 0;
	position: absolute;
	z-index: -1;
	display: inline-block;
	background: url("../images/estatico/paredeTaverna.png");
}

#quarto {
	height: 220px;
	width: 800px;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	position: relative;
	display: inline-block;
	background: url("../images/estatico/piso.png");
}

#quartoTaverneiro {
	height: 220px;
	width: 536px;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	position: absolute;
	display: inline-flex;
	background: url("../images/estatico/piso.png");
	margin-left: 18px;
}

#cama {
	height: 200px;
	position: absolute;
	bottom: 47px;
}

#ajustaQuarto {
	height: 200px;
	position: relative;
	bottom: 47px;
	opacity: 0;
}

#criadoMudo {
	height: 70px;
	width: 70px;
	position: absolute;
	bottom: 171px;
	left: 120px;
}

#trofeus {
	height: 170px;
	width: 170px;
	position: absolute;
	bottom: 175px;
	left: 320px;
}

#mesaQuarto {
	width: 100px;
	height: 200px;
	position: absolute;
	left: 700px;
	bottom: 10px;
}

#cadeiraQuarto {
	width: 120px;
	height: 150px;
	position: absolute;
	left: 560px;
	bottom: 50px;
}


/*Alterar Dados*/

#perfil {
	height: 200px;
	position: relative;
	left: 50px;
}

.cTable {
	border: 3px solid black;
	padding-bottom: 50px;
	background-color: white;
}

.tdConta {
	text-align: right;
	width: 300px;
	font-size: 20px;
	padding-right: 10px;
}

.iptConta {
	width: 250px;
}


/*    -----Tabela-----   */

#intTaverneiro, #intBardo, #ranking, #avisos, #rankingPessoal {
	/*Bordas externas da tabela*/
	border: 1px solid #532700;
	border-collapse: collapse;
	width: 800px;
	border-radius: 5px;
	background-color: #BD7938;
}

.intPersonagem {
	width: 800px;
}

.intTable, .intRow, .intRowRanking {
	/*Bordas internas da tabela*/
	border: 3px solid #532700;
	border-collapse: collapse;
}

.intRow {
	font-size: 30px;
}

.intDialogue {
	font-size: 20px;
}

.vAlign {
	vertical-align: text-top;
}

.containerModais {
	display: none;
	z-index: 4;
	width: 800px;
	bottom: 550px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#ranking, #avisos {
	overflow-y: scroll;
	display: none;
	z-index: 4;
	width: 1170px;
	bottom: 600px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	height: 450px;
}

#rankingPessoal {
	display: none;
	z-index: 4;
	width: 1170px;
	bottom: 900px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	height: 450px;
	text-align: center;
}

#alterarDados {
	display: none;
	z-index: 4;
	width: 800px;
	bottom: 920px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 450px;
	border: 3px solid #532700;
	border-collapse: collapse;
	border-radius: 5px;
	background-color: #BD7938;
}

.formAltera {
	margin: 0 15%;
}

.cadCampo label {
	font-size: 150%;
}

.cadCampo input {
	text-align: right;
	margin: 2%;
}

.altBtn {
	font-size: 250%;
	margin: auto;
}

#alterarImg {
	float: left;
	display: block;
	margin: 4% 4% 0;
	border: 3px solid black;
	display: block;
}

.tableRanking {
	width: 100%;
}

.intRowRanking {
	font-size: 20px;
	padding-top: 5px;
}

.tituloRanking, #tituloAlterar {
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#flecha {
	width: 100px;
	float: right;
	padding: 15px;
}

.fechar {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

#avisos {
	border: 4px solid #532700;
	overflow-y: scroll;
}

#tableAvisos {
	width: 100%;
	font-size: 50px;
}

.buttonAvisos {
	width: 90%;
	height: 30px;
	border: 3px solid #532700;
	background-color: #8D4421;
	border-radius: 5px;
	height: 28px;
}

.tabelaAvisos {
	width: 100%;
	font-size: 25px;
	overflow-y: scroll;
}

.tabelaAvisos th, .tabelaAvisos td {
	text-align: center;
	border: 3px solid #532700;
	width: 20%;
	height: 30px;
	margin-top: 1%;
}

.quadro {
	margin: 0;
}


/*===================baloes de fala==================*/

.balao {
	height: 100px;
	position: relative;
}

#balaoJogar {
	bottom: 16%;
	left: 22%;
	z-index: 1;
}

#balaoTaverneiro {
	top: -49%;
	left: 45%;
	z-index: 1;
}

#balaoBardo {
	bottom: 177%;
	right: 12%;
	z-index: 1;
}