#ignora as pastas do eclipse

/.metadata/
/.vscode/
/RemoteSystemsTempFiles/
/Servers/	
/.recommenders/
Servers/Tomcat v8.5 Server at localhost-config/web.xml
Servers/Tomcat v8.5 Server at localhost-config/server.xml
Servers/Tomcat v8.5 Server at localhost-config/context.xml
Servers/Tomcat v8.5 Server at localhost-config/catalina.policy
Servers/Tomcat v8.5 Server at localhost-config/catalina.properties
Servers/Tomcat v8.5 Server at localhost-config/tomcat-users.xml
