body{ /*Desabilita scroll*/
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    overflow:hidden;
}


/*-----------------Remoção da margem da body-----------------*/
#bodyTaberna{
  margin: 0;
  position: relative;
}



/*-----------------Taberna-----------------*/
#taberna{
  height: 100%;
  background: url(../images/piso.png);
}



/*-----------------Parede Superior-----------------*/
  #paredeSuperior{
    border: 3px solid black;
    height: 130px;
    background-color: #BD7938;
  }
  /*Quarto*/
  #divQuarto{
    height: 130px;
    width: 85.438px;
    margin-left: 20%;
    display: inline-block;
  }
  #portaQuarto{
    height: 125px;
    padding: 5px 0;
    image-rendering: pixelated;
    cursor: pointer;
    transition: 0.2s;
  }
  #portaQuarto:hover{
    opacity: 0.5;
    transition: 0.2s;
  }
  /*Ranking*/
  #quadroRanking{
    display: inline-block;
    height: 70%;
    position: relative;
    top: -30px;
    left: 90px;
  }
  #tabela{
    height: 100%;
    width: 100%;
    font-size: 12px;
    border: 3px solid black;
    border-radius: 5px;
  }
  .tdTabela{
    padding: 0 25px;
  }
  #tabelaTitulo{
    border-bottom: 1px solid black;
  }
  /*Avisos*/
  #quadroAvisos{
    display: inline-block;
    width: 100px;
    height: 70%;
    background-color: white;
    position: relative;
    top: -30px;
    left: 110px;
  }
  #avisos{
    height: 100%;
    width: 100%;
  }

/*Logo*/
  #divLogo{
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: 970px;
    bottom: 123px;
  }
  #logo{
    height: 100%;
    width: 100%;
  }
/*Quarto Taberneiro*/
  #divQuartoT{
    height: 130px;
    width: 85.438px;
    position: relative;
    margin-left: 1250px;
    bottom: 243px;
  }
  #portaQuartoT{
    height: 125px;
    padding: 5px 0;
    image-rendering: pixelated;
  }

/*-----------------Piso da Taberna-----------------*/
  #pisoTaberna{
    border-left: 3px solid black;
    border-right: 3px solid black;
    height: 345px;
    background: url(../images/piso.png);
  }
  #imgBardo{
    height: 150px;
    -webkit-transform: scaleX(-1);
    position: relative;
    bottom: 90px;
    right: 440px;
  }
  #imgTaverneiro{
    height: 130px;
    position: relative;
    left: 950px;
  }
  #balcao{
    height: 380px;
    width: 90px;
    background-color: brown;
    border: 3px solid black;
    border-bottom: 0;
    position: absolute;
    left: 1100px;
    bottom: 154px;
  }
  #imgMesa{
    position: relative;
    top: 150px;
    left: 200px;
  }

/*-----------------Parede Inferior-----------------*/
#paredeInferior{
  border: 3px solid black;
  height: 130px;
  background-color: #532700;
  position: relative;
  bottom: 18px;
}
/*Porta Saída*/
#divSair{
  height: 130px;
  width: 85.438px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#portaSair{
  height: 125px;
  width: 85px;
  padding: 5px 0;
  cursor: pointer;
  transition: 0.2s;
  image-rendering: pixelated;
}
#portaSair:hover{
  opacity: 0.5;
  transition: 0.2s;
}


/*-----------------Piso Externo-----------------*/


#pisoExterno{
  height: 18px;
}


/*-----------------Quartos-----------------*/
#paredeQuartos{
  width: 99.55%;
  height: 0px;
  border: 3px solid black;
  background-color: #BD7938;
  display: none;
  position: relative;
  top: 6px;
}
#quarto{
  height: 0px;
  width: 800px;
  border: 3px solid black;
  border-bottom: 0;
  background-color: white;
  position: relative;
  display: none;
  background: url(../images/piso.png);
}
#quartoTaverneiro{
  height: 0px;
  width: 548px;
  border: 3px solid black;
  border-bottom: 0;
  background-color: white;
  position: fixed;
  display: none;
  background: url(../images/piso.png);
}
#cama{
  height: 200px;
  position: absolute;
  bottom: 47px;
}
#ajustaQuarto{
  height: 200px;
  position: relative;
  bottom: 47px;
  opacity: 0;
}
#criadoMudo{
  height: 70px;
  width: 70px;
  border: 3px solid black;
  position: absolute;
  bottom: 171px;
  left: 120px;
  background-color: yellow;
}
#trofeus{
  height: 170px;
  width: 250px;
  position: absolute;
  bottom: 175px;
  left: 320px;
}
#mesaQuarto{
  width: 100px;
  height: 200px;
  position: absolute;
  left: 700px;
  bottom: 10px;
}
#cadeiraQuarto{
  width: 50px;
  height: 150px;
  position: absolute;
  left: 640px;
  bottom: 50px;
}
/*Alterar Dados*/

#perfil{
  height: 200px;
  position: relative;
  left: 50px;
}
.cTable{
  border: 3px solid black;
  padding-bottom: 50px;
  background-color: white;
}
.tdConta{
  text-align: right;
  width: 200px;
}
.iptConta{
  width: 250px;
}
/*    -----Tabela-----   */

#intTaverneiro, #intBardo{ /*Bordas externas da tabela*/
  border: 1px solid #532700;
  border-collapse: collapse;
  width: 800px;
  border-radius: 5px;
  background-color: #BD7938;
}
.intPersonagem{
  width: 800px;
}
.intTable, .intRow{ /*Bordas internas da tabela*/
  border: 3px solid #532700;
  border-collapse: collapse;
}
.intRow{
  font-size: 30px;
}
.vAlign{
  vertical-align: text-top;
}
.containerModais{
	display: block;
	z-index: 4; /* esse valor é por causa do plano de fundo (que ainda não existe kkkk)*/
	/*opacity: 0;
	transition: opacity 0.5s ease-in-out;*/
	width: 800px;
	position: absolute;
	top: 15%;
	right: 22%;
}
/*--------Images e Falas----------*/
.intImg{
  height: 100%;
}
.intTdImg{
  background-color: #BD7938;
  vertical-align: bottom;
  height: 313px;
  width: 300px;
}
.intArrow{
  width: 100px;
}
.intTdArrow{
  background-color: #BD7938;
}
.intDialogue{ /*Falas do Personagem*/
  width: 100%;
}
.intAlerta{
  border-bottom: 0;
}
.intRow{
  background-color: #BD7938;
  color: white;
}
.intIcn{
  width: 50px;
}
/* ----Inputs------*/
.intButton, .intGroupButton, .intGroupCadButton{ /* Botões */
  width: 100%;
  height: 35px;
  background-color: #BD7938;
  border: 1px solid #8D4421;
  color: white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}
.intButton:hover, .intCadButton:hover, .intCadButton2:hover, .intCadButton3:hover, .intCadButton4:hover{
  background-color: #8D4421;
  transition: 0.3s;
}
.intTdButton{ /* Td do Botão */
  height: 35px;
  border: 3px solid #532700;
  border-collapse: collapse;
}
.intInput{
  width: 200px;
  padding: 0;
}
.tdInput{
  width: 200px;
  position: relative;
  bottom: 3px;
}
/*-- TIRAR BORDA DE 1px--*/
.intTdButton, .intTdImg{
  padding: 0;
}
